<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.partybuilding.webserver.dao.dynamic.DynamicPraiseRecordMapper">
  <resultMap id="BaseResultMap" type="com.partybuilding.webserver.entity.dynamic.DynamicPraiseRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="article_id" jdbcType="VARCHAR" property="articleId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="is_cancle" jdbcType="INTEGER" property="isCancle" />
  </resultMap>
  <sql id="Base_Column_List">
    id, article_id, time, is_cancle
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dynamic_praise_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dynamic_praise_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.partybuilding.webserver.entity.dynamic.DynamicPraiseRecord">
    insert into dynamic_praise_record (id, article_id, time, 
      is_cancle)
    values (#{id,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{isCancle,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.partybuilding.webserver.entity.dynamic.DynamicPraiseRecord">
    insert into dynamic_praise_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="isCancle != null">
        is_cancle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="isCancle != null">
        #{isCancle,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.partybuilding.webserver.entity.dynamic.DynamicPraiseRecord">
    update dynamic_praise_record
    <set>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="isCancle != null">
        is_cancle = #{isCancle,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.partybuilding.webserver.entity.dynamic.DynamicPraiseRecord">
    update dynamic_praise_record
    set article_id = #{articleId,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      is_cancle = #{isCancle,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>