<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.partybuilding.webserver.dao.service.ServiceAnswerRecordMapper">
    <resultMap id="BaseResultMap" type="com.partybuilding.webserver.entity.service.ServiceAnswerRecord">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="examination_id" jdbcType="VARCHAR" property="examinationId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="answer_time" jdbcType="TIMESTAMP" property="answerTime"/>
        <result column="question_total_number" jdbcType="INTEGER" property="questionTotalNumber"/>
        <result column="correct_question_number" jdbcType="INTEGER" property="correctQuestionNumber"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, examination_id, user_id, answer_time, question_total_number, correct_question_number
  </sql>


    <!-- 获取记录列表 -->
    <select id="getAnswerRecordList"
            parameterType="com.partybuilding.webserver.dto.service.answerRecord.GetAnswerRecordListInputDTO"
            resultType="com.partybuilding.webserver.dto.service.answerRecord.AnswerRecordListDTO">
        select record.id as answerRecordId,sem.title as title, sqc.category_name as questionCategoryName,pt.name as
        answerer,record.user_id as partyId,record.examination_id as examineId,
        record.correct_question_number as correctQuestionNumber ,DATE_FORMAT(record.answer_time,'%Y/%m/%d')as
        answerTime,round((record.correct_question_number /record.question_total_number)*100,2) as correctRate
        from service_answer_record record left outer join sys_party_member_information pt on record.user_id = pt.id
        left outer join service_examination_management sem on record.examination_id = sem.id
        left join service_question_category sqc on sqc.id = sem.question_category_id
        <where>
            <if test="(content != null and content != '')">
                and sem.title like concat('%',concat(#{content,jdbcType=VARCHAR},'%'))
                or pt.name like concat('%',concat(#{content,jdbcType=VARCHAR},'%'))
            </if>

            <if test="(questionCategoryId != null and questionCategoryId != '')">
                and sem.question_category_id = #{questionCategoryId,jdbcType=VARCHAR}
            </if>
        </where>
        order by record.answer_time desc
    </select>

    <!-- 获取记录信息 -->
    <select id="getAnswerRecordById" parameterType="java.lang.String"
            resultType="com.partybuilding.webserver.dto.service.answerRecord.AnswerRecordListDTO">
    select record.id as answerRecordId,sem.title as title, sqc.category_name as questionCategoryName,pt.name as answerer,record.user_id as partyId,record.examination_id as examineId,
    record.correct_question_number as correctQuestionNumber ,DATE_FORMAT(record.answer_time,'%Y/%m/%d')as answerTime,round((record.correct_question_number /record.question_total_number)*100,2) as correctRate
    from service_answer_record record left outer join sys_party_member_information pt on record.user_id = pt.id
    left outer join service_examination_management sem on record.examination_id = sem.id
    left join service_question_category sqc on sqc.id = sem.question_category_id
    where record.id = #{answerRecordId,jdbcType=VARCHAR}
    order by record.answer_time desc
  </select>

    <!-- 获取问题列表 -->
    <select id="getQuestionListByAnswerRecordId" parameterType="java.lang.String"
            resultType="com.partybuilding.webserver.dto.service.answerRecord.Question">
    select q.id as id,q.title as title ,q.question as question,q.question_type as questionType,answer_description as answerDescription,correct_answer as correctAnswer,picture,sad.answer_content as answerContent
    from service_examination_management sem
    left join  service_answer_record record on sem.id = record.examination_id

     left join service_examination_question eq on sem.id = eq.examination_id
    left join service_question q on q.id = eq.question_id
left join  service_answer_details sad on sad.answer_record_id = record.id and sad.question_id = q.id

    where record.id = #{id,jdbcType=VARCHAR}
  </select>

    <!-- 获取所有职务 -->
    <select id="getPosition" parameterType="java.lang.String" resultType="java.lang.String">
    select post.name as postition
    from sys_party_organization_post spt left join sys_post post on post.id = spt.post_id
    where spt.party_id = #{partyId,jdbcType=VARCHAR}
  </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from service_answer_record
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from service_answer_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.partybuilding.webserver.entity.service.ServiceAnswerRecord">
    insert into service_answer_record (id, examination_id, user_id, 
      answer_time, question_total_number, correct_question_number
      )
    values (#{id,jdbcType=VARCHAR}, #{examinationId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{answerTime,jdbcType=TIMESTAMP}, #{questionTotalNumber,jdbcType=INTEGER}, #{correctQuestionNumber,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.partybuilding.webserver.entity.service.ServiceAnswerRecord">
        insert into service_answer_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="examinationId != null">
                examination_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="answerTime != null">
                answer_time,
            </if>
            <if test="questionTotalNumber != null">
                question_total_number,
            </if>
            <if test="correctQuestionNumber != null">
                correct_question_number,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="examinationId != null">
                #{examinationId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="answerTime != null">
                #{answerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="questionTotalNumber != null">
                #{questionTotalNumber,jdbcType=INTEGER},
            </if>
            <if test="correctQuestionNumber != null">
                #{correctQuestionNumber,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.partybuilding.webserver.entity.service.ServiceAnswerRecord">
        update service_answer_record
        <set>
            <if test="examinationId != null">
                examination_id = #{examinationId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="answerTime != null">
                answer_time = #{answerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="questionTotalNumber != null">
                question_total_number = #{questionTotalNumber,jdbcType=INTEGER},
            </if>
            <if test="correctQuestionNumber != null">
                correct_question_number = #{correctQuestionNumber,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.partybuilding.webserver.entity.service.ServiceAnswerRecord">
    update service_answer_record
    set examination_id = #{examinationId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      answer_time = #{answerTime,jdbcType=TIMESTAMP},
      question_total_number = #{questionTotalNumber,jdbcType=INTEGER},
      correct_question_number = #{correctQuestionNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>