<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.partybuilding.webserver.dao.system.SysPartyReminderMapper">

    <insert id="insertList" >
        insert into sys_party_reminder(id,party_id,meeting_name)
        values
        <foreach collection="list" item="reminder" separator=",">
            (#{reminder.reminderId,jdbcType=VARCHAR},#{reminder.partyId,jdbcType=VARCHAR},
            #{reminder.meetingName,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>
